<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vaultsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>vaultsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VaultSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$VaultSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:servervs.database.windows.net,1433;Initial Catalog=VaultSystem_db;User ID=VaultSystem@servervs;Password=Aq12wsx@" Name="Data Source=tcp:servervs.database.windows.net,1433;Initial Catalog=VaultSystem_Identity;User Id=VaultSystem@servervs;Password=Aq12wsx@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VaultSystem.Models.ApplicationDbContext, VaultSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VaultEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:servervs.database.windows.net,1433;Initial Catalog=VaultSystem_db;User ID=VaultSystem@servervs;Password=Aq12wsx@" Name="Data Source=tcp:servervs.database.windows.net,1433;Initial Catalog=VaultSystem;User Id=VaultSystem@servervs;Password=Aq12wsx@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VaultSystem.Models.VaultEntities, VaultSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:servervs.database.windows.net,1433;Initial Catalog=VaultSystem_Identity;User Id=VaultSystem@servervs;Password=Aq12wsx@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VaultEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.VaultModel.csdl|res://*/Models.VaultModel.ssdl|res://*/Models.VaultModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:servervs.database.windows.net,1433;Initial Catalog=VaultSystem;User Id=VaultSystem@servervs;Password=Aq12wsx@"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>