@model VaultSystem.Models.VaultView
<div style="float:left; width:250px">
    @if (Model.UserRoles.Exists(r => r == "VaultAdmin"))
    {
        <div>
            <h4>My vaults</h4>
            @foreach (var vault in Model.MyVaults)
            {
                <div>
                    @Html.ActionLink(vault.Name, "Index", new { vaultId = vault.Id })
                </div>
            }
        </div>
        @Html.ActionLink("Create vault", "Create", "Vault")
    }

    @if (Model.OtherVaults.Any())
    {
        <div>
            <h4>Other users vaults</h4>
            @foreach (var vault in Model.OtherVaults)
            {
                <div>
                    @Html.ActionLink(vault.Name, "Index", new { vaultId = vault.Id })
                </div>
            }
        </div>
    }
</div>
@if (Model.VaultId > 0)
{
    @Html.Action("VaultItems", new { vaultId = Model.VaultId })
}

