@model VaultSystem.Models.VaultItemsView

    @Html.ValidationSummary()
    @if (Model.VaultAccessLevel == "Admin" || Model.VaultAccessLevel == "Full" || Model.VaultAccessLevel == "Write")
    {
        <div style="display:block; margin-bottom:10px;">
            @Html.ActionLink("Add сontent", "AddContent", new { vaultId = Model.VaultId }, new { @class = "my-btn" })
        </div>
    }
    @if (Model.VaultItems != null)
    {
        <table class="vault-content">
            <tbody>
                @foreach (var item in Model.VaultItems)
                {
                    <tr>
                        <td style="width:100%">
                            @Html.ActionLink(item.Name, "GetContent", new { id = item.Id })
                        </td>
                        
                        @if (Model.VaultAccessLevel == "Admin" || Model.VaultAccessLevel == "Full")
                        {
                            <td>
                                @Html.ActionLink("Remove", "RemoveContent", new { contentId = item.Id }, new { @class = "my-btn" })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }